version: "3.9"

services:
  backend:
    build: ./backend
    container_name: comp3123-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=${MONGO_URI}
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: comp3123-frontend
    ports:
      - "3001:3000"
    stdin_open: true
    tty: true
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
